<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Yannick Wirner, Pianist - Home</title>
<meta content="G&ouml;nnen Sie sich etwas besonderes und besuchen oder buchen Sie mich als Pianist f&uuml;r Konzerte, Auftritte, besondere Anl&auml;sse... Gerne auch als Ensemble oder im Quintett. " name="description">
<meta name="Keywords" content="Klavier, Piano, Pianist, Ensembles, Quintett, Konzertauftritte, buchen, Vorf&uuml;hrung, Yannick Wirner, Musikhochschule, Klassik">
<link type="text/css" href="/css/design80.css" rel="stylesheet">
<link type="text/css" href="/css/custom.css" rel="stylesheet">
<style type="text/css">
    <!--
    p.MsoNormal {	margin:0cm;
        margin-bottom:.0001pt;
        font-size:12pt;
        font-family:Verdana, Geneva, sans-serif;
    }
    -->
</style>