<table cellpadding="0" cellspacing="0" border="0" width="173">
    <tr>
        <td width="27"><img border="0" height="79" width="27" alt="" src="/images/flogo_left.gif"></td>
        <td width="146" valign="top"><img border="0" src="/images/logo_80_19044249.gif"></td>
    </tr>
    <tr valign="top">
        <td colspan="2">
            <a onMouseOut="MM_swapImgRestore()" onMouseOver="
          MM_swapImage('menuimglanguage_',''
          ,'/images/tree/language_a.gif',1)
          " href="/fr/index.html"><img src="/images/tree/language_.gif" border="0" alt="en français" title="en français"
                                       name="menuimglanguage_"></a>
            <script>MM_preloadImages('/images/tree/language_a.gif')</script>
        </td>
    </tr>
    <tr valign="top">
        <td colspan="2">
            <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td><img border="0" height="11" width="173" src="/images/menu1/nav_top.gif"></td>
                </tr>
                <tr>
                    <td><img src="/images/tree/Menu_home_c.png" border="0" alt="Home" title="Home"
                             name="menuimgMenu_home_"></td>
                </tr>
                <tr>
                    <td><a onMouseOut="MM_swapImgRestore()" onMouseOver="
          MM_swapImage('menuimgMenu_biographie_',''
          ,'/images/tree/Menu_biographie_a.png',1)
          " href="/Biographie.html"><img src="/images/tree/Menu_biographie_.png" border="0" alt="Biographie"
                                         title="Biographie" name="menuimgMenu_biographie_"></a>
                        <script>MM_preloadImages('/images/tree/Menu_biographie_a.png')</script>
                    </td>
                </tr>
                <tr>
                    <td><a onMouseOut="MM_swapImgRestore()" onMouseOver="
          MM_swapImage('menuimgMenu_ensembles_',''
          ,'/images/tree/Menu_ensembles_a.png',1)
          " href="/Ensembles.html"><img src="/images/tree/Menu_ensembles_.png" border="0" alt="Ensembles"
                                        title="Ensembles" name="menuimgMenu_ensembles_"></a>
                        <script>MM_preloadImages('/images/tree/Menu_ensembles_a.png')</script>
                    </td>
                </tr>
                <tr>
                    <td><a onMouseOut="MM_swapImgRestore()" onMouseOver="
          MM_swapImage('menuimgMenu_konzerte_',''
          ,'/images/tree/Menu_konzerte_a.png',1)
          " href="/Konzerte.html"><img src="/images/tree/Menu_konzerte_.png" border="0" alt="Konzerte" title="Konzerte"
                                       name="menuimgMenu_konzerte_"></a>
                        <script>MM_preloadImages('/images/tree/Menu_konzerte_a.png')</script>
                    </td>
                </tr>
                <tr>
                    <td><a onMouseOut="MM_swapImgRestore()" onMouseOver="
          MM_swapImage('menuimgMenu_repertoire_',''
          ,'/images/tree/Menu_repertoire_a.png',1)
          " href="/Repertoire.html"><img src="/images/tree/Menu_repertoire_.png" border="0" alt="Repertoire"
                                         title="Repertoire" name="menuimgMenu_repertoire_"></a>
                        <script>MM_preloadImages('/images/tree/Menu_repertoire_a.png')</script>
                    </td>
                </tr>
                <tr>
                    <td><a onMouseOut="MM_swapImgRestore()" onMouseOver="
          MM_swapImage('menuimgMenu_links_',''
          ,'/images/tree/Menu_links_a.png',1)
          " href="/Links.html"><img src="/images/tree/Menu_links_.png" border="0" alt="H&ouml;rbeispiele"
                                    title="H&ouml;rbeispiele" name="menuimgMenu_links_"></a>
                        <script>MM_preloadImages('/images/tree/Menu_links_a.png')</script>
                    </td>
                </tr>
                <tr>
                    <td><a onMouseOut="MM_swapImgRestore()" onMouseOver="
          MM_swapImage('menuimgMenu_kontakt_',''
          ,'/images/tree/Menu_kontakt_a.png',1)
          " href="/Kontakt.html"><img src="/images/tree/Menu_kontakt_.png" border="0" alt="Kontakt" title="Kontakt"
                                      name="menuimgMenu_kontakt_"></a>
                        <script>MM_preloadImages('/images/tree/Menu_kontakt_a.png')</script>
                    </td>
                </tr>
                <tr>
                    <td><a onMouseOut="MM_swapImgRestore()" onMouseOver="
          MM_swapImage('menuimgMenu_impressum_',''
          ,'/images/tree/Menu_impressum_a.png',1)
          " href="/Impressum.html"><img src="/images/tree/Menu_impressum_.png" border="0" alt="Impressum"
                                        title="Impressum" name="menuimgMenu_impressum_"></a>
                        <script>MM_preloadImages('/images/tree/Menu_impressum_a.png')</script>
                    </td>
                </tr>
                <tr>
                    <td><img border="0" height="12" width="173" src="/images/menu1/nav_bot.gif"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>