<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    {% include head.html %}
</head>
<body marginheight="0" marginwidth="0" topmargin="0" leftmargin="0">
<div style="position:relative" id="body">
    <script type="text/javascript" language="JavaScript" src="/js/mm.js"></script>
    <script type="text/javascript" language="JavaScript" src="/sound/playsound.js"></script>
    <a id="top" name="top"></a><img border="0" height="104" width="268" alt="" src="/images/top_1.gif">
    <img style="position:absolute; top:0; left:268px" border="0" height="89" width="497" alt="" src="/images/keyvisual/customkey.png"><img style="position:absolute; top:89px; left:268px" border="0" height="15" width="497" alt="" src="/images/top_2.gif">
    <img style="position:absolute; top:72px; left:105px;" border="0" height="17" width="398" alt="" src="/images/slogan_80_8_0.png">
    <table cellpadding="0" cellspacing="0" border="0" width="765">
        <tr>
            <td width="173" valign="top">
                {% include navigation.html %}
            </td>
            <td valign="top" width="592">
                <table cellpadding="0" cellspacing="0" border="0" width="592">
                    <tr>
                        <td width="41" valign="top" rowspan="2"><img border="0" height="248" width="41" alt="" src="/images/table_left.gif"></td>
                        <td width="551" valign="top"><img border="0" height="50" width="551" alt="" src="/images/table_top.gif"></td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                <tr>
                                    <td width="100%" background="" align="" valign="">
                                            {{ content }}
                                    </td>
                                </tr>
                                <tr>
                                    <td background="" valign="top">
                                        <img alt="" height="1" width="462" src="/images/i.gif"/>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td valign="top"><img height="1" width="1" alt="" src="/images/i.gif"></td>
            <td valign="top">
                <table cellpadding="0" cellspacing="0" border="0" width="592">
                    <tr>
                        <td width="42" valign="top" rowspan="3"><img border="0" height="1" width="42" alt=""
                                                                     src="/images/i.gif"></td>
                        <td width="550" valign="bottom"><a href="#top"><img vspace="3" border="0" height="16" width="37"
                                                                            alt="" src="/images/top.gif"></a></td>
                    </tr>
                    <tr>
                        <td class="a" valign="top"><img height="1" width="1" alt="" src="/images/i.gif"></td>
                    </tr>
                    <tr>
                        <td class="bot" height="30">
                            {% include footer.html %}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>
</html>


